/* Write your CSS here */

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  min-height: 100vh;
}

.responsive-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 85%;
  border-radius: 12px;
  max-width: 550px;
}
.appointment-container {
  width: 80%;
  max-width: 990px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-appointment-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 64px;
}

.heading {
  color: black;
  font-size: 23px;
  font-weight: 500;
  font-family: 'Roboto';
}

.appointment-inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  color: grey;
  font-size: 16px;
  font-family: 'Roboto';
}

.text {
  border-radius: 10px;
}

.date {
  color: grey;
  font-size: 16px;
  font-family: 'Roboto';
}

.button {
  border-radius: 10px;
  background-color: violet;
  color: white;
  font-size: 12px;
}

.image {
  display: none;
}

@media screen and (min-width: 768px) {
  .image {
    display: block;
    width: 45%;
  }
}

.line {
  padding: 0;
  margin: 0;
}
.lists {
  display: flex;
  justify-content: space-between;
}

.para {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 300;
  color: black;
}

.button-1 {
  background-color: transparent;
  border: 1px solid blue;
  color: blue;
  font-size: 12px;
  border-radius: 20px;
}

.appointment-lists {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .appointment-lists {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.filter-style {
  font-size: 12px;
  border-radius: 25px;
  border: none;
  outline: none;
}

.filter-filled {
  color: white;
  background-color: #9897f0;
}

.filter-empty {
  color: #9897f0;
  background-color: white;
  border: 1px solid #9897f0;
}
